# https://github.com/adityatelange/hugo-PaperMod

baseURL: "https://github.nsynovic.dev/laic-website-hugo"
title: Loyola AI Club 
paginate: 15
theme: PaperMod

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false

# googleAnalytics: UA-123-45

minify:
  disableXML: true
  minifyOutput: true

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: Loyola AI Club 
  description: "Loyola AI Club (LAIC) aims to expose students to AI at work in industry."
  keywords: [LAIC, Loyola AI Club, Loyola, LUC]
  author: Loyola University Chicago (LAIC) 
  # author: ["Me", "You"] # multiple authors
  # images: ["<link or path of image for opengraph, twitter-cards>"]
  DateFormat: "January 2, 2006"
  defaultTheme: dark # auto, light
  disableThemeToggle: true 

  ShowReadingTime: true
  ShowShareButtons: true
  ShowPostNavLinks: true
  ShowBreadCrumbs: true
  ShowCodeCopyButtons: false
  ShowWordCount: true
  ShowRssButtonInSectionTermList: true
  UseHugoToc: true
  disableSpecial1stPost: false
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: false
  tocopen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "favicon.ico"
    favicon16x16: "favicon16x16.png"
    favicon32x32: "favicon32x32.png"
    apple_touch_icon: "apple_touch_icon.png"
    safari_pinned_tab: "favicon.ico"

  label:
    text: "Loyola AI Club" 
    icon: /apple-touch-icon.png
    iconHeight: 35

  # profile-mode
  # Profile mode overwrites home mode
  profileMode:
    enabled: true # needs to be explicitly set
    title: Loyola University Chicago (LAIC) 
    subtitle: "Loyola AI Club aims to expose students to AI at work in industry."
    imageUrl: "/logo.jpg"
    imageWidth: 240
    imageHeight: 240 
    imageTitle: Loyola AI Club (LAIC) Logo 
    buttons:
      - name: About
        url: about
      - name: Projects
        url: projects
      - name: Speakers
        url: speakers
      - name: Workshops 
        url: Workshops

  # home-info mode
  # Home mode overwrites profile mode
  # Default mode
  homeInfoParams:
    Title: "Loyola AI Club"
    Content: Loyola AI Club aims to expose students to AI at work in industry.

  socialIcons:
    - name: github
      url: "https://github.com/loyolaaiclub"
    - name: linkedin
      url: "https://linkedin.com/"
    - name: slack
      url: "https://join.slack.com/t/laicworkspace/signup"
    - name: email
      url: "loyolaaiclub@gmail.com"

#  analytics:
    # google:
    #  SiteVerificationTag: "XYZabc"
    # bing:
    #  SiteVerificationTag: "XYZabc"
    # yandex:
    #  SiteVerificationTag: "XYZabc"

  cover:
    hidden: true # hide everywhere but not in structured data
    hiddenInList: true # hide on list pages and home
    hiddenInSingle: true # hide on single page

  editPost:
    URL: "https://github.com/NicholasSynovic/laic-website-hugo/content"
    Text: "Suggest Changes" # edit text
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]
menu:
  main:
    - identifier: about 
      name: About 
      url: /about
      weight: 10
    - identifier: projects
      name: Projects
      url: /projects/
      weight: 20
    - identifier: speakers
      name: Speakers
      url: /speakers/
      weight: 30
    - identifier: workshops
      name: Workshops
      url: /workshops/
      weight: 40
# Read: https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#using-hugos-syntax-highlighter-chroma
pygmentsUseClasses: true
markup:
  highlight:
    noClasses: false
    # anchorLineNos: true
    # codeFences: true
    # guessSyntax: true
    # lineNos: true
    # style: monokai
